# Ignore backup files
*newsboat/cache.db
*cache.db
*.db
!newsboat/cache.db
!cache.db
!Xmind/
*Xmind/
*.lock
newsboat/cache.db
cache.db
.db
newsboat/cache.db
cache.db
Xmind/
*~
*QtProject.conf
VSCodium/
*VSCodium/
# Ignore VSCodium folder
VSCodium/*

# Exclude VSCodium settings and keybindings files
!VSCodium/User/settings.json
!VSCodium/User/keybindings.json

# Ignore other files and folders
QtProject.conf

# Ignore temporary files
*.swp
*.swo
*.bak

# Ignore cache directories
.cache/
.local/share/gvfs-metadata/
thumbnails/
Trash/

# Ignore log files
*.log
*.log.*

# Ignore compiled code
*.pyc
*.pyo
*.class

# Ignore system files
.DS_Store
.Trashes
._*
.Spotlight-V100
.DocumentRevisions-V100

# ignores some uselss folders
gtk-2.0/
gtk-3.0/
gtk-4.0/

btop/
calibre/
dconf/
htop/
neofetch/
npm/
procps/
pulse/
qutebrowser/
systemd/
VSCodium/
yarn/
yay/

QtProject.conf
user-dirs.conf
user-dirs.dirs
user-dirs.locale




# Ignore DConf settings
user.dconf/
dconf/user

# btop
btop/btop.log
*btop.log

*.log

*hosts.json
*./github-copilot/
*github-copilot/

*./github-copilot/hosts.json
*github-copilot/hosts.json


*syncthing/
*/syncthing/
*discord/
*discord/*
