*.db
*/.jukit/
*cache.db
*cache.db.lock
.gsd-keyboard.settings-ported
.netrwhist
.zcompdump
Arduino IDE/
BetterDiscord Installer/
BetterDiscord/
Electron/
Element/
GIMP/
GNOME-xdg-terminals.list
GeoGebra/
Kitware/
Morgen/
OpenSCAD/
PrusaSlicer/
QtProject.conf
QtProject/
Signal/
Thunar/
VSCodium/
VirtualBox/
Xmind/
abook/
apy/
archlinux-5.9
arduino-ide/
audacity/
autostart/
biolab.si/
bluetuith/
btop/
cache*
cache.*
calcurse/
calibre/
cava/
cmus/
cura/
dconf/
discord/
dunst/
enchant/
epr/
evolution/
font-manager/
fontconfig/
gnome-control-center/
gnome-initial-setup-done
gtk-2.0/
gtk-3.0/
gtk-4.0/
htop/
ibus/
inkscape-figures/
inkscape-shortcut-manager/
inkscape/
keepassxc/
kicad/
kid3rc
lazy-lock.json
lazygit/
lazyvim.json
libreoffice/
liquidprompt/
matrixcli/
mbsync/
mimeapps.list
monero-project/
monitors.xml
mpd/
mpv/
msmtp/
mutt/
ncmpcpp/
neofetch/
newsboat/cache.db
newsboat/cache.db.lock
notmuch-config
notmuch/
npm/
nvim/autoload
nvim/plugin/packer_compiled.lua
nvim/spell
nvim/undodir
nvim/vim-plug
obs-studio/
obsidian/
octave/
packer_compiled.lua
pavucontrol.ini
pomo/
pulse/
qBittorrent/
qutebrowser/
scrot/
sublime-merge/
surf/
syncthing/
systemd/
tmux/plugins/
torbrowser/
transmission-daemon/
transmission/
trashrc
uad/
user-dirs.locale
vidcutter/
vifm/
wget/
xdg-terminals.list
xfce4
xournalpp/metadata/
yarn/
yay/
zotero/
