apy/
btop/
calibre/
cava/
cmus/
dconf/
dunst/
GeoGebra/
GIMP/
gtk-2.0/
gtk-3.0/
gtk-4.0/
inkscape/
inkscape-figures/
inkscape-shortcut-manager/
mpd/
mpv/
neofetch/
*.db
cache*
cache.*
*cache.db
*cache.db.lock
newsboat/cache.db
newsboat/cache.db.lock
npm/
obsidian/
pomo/
pulse/
qutebrowser/
scrot/
syncthing/
systemd/
torbrowser/
VSCodium/
Xmind/
yarn/
yay/
zotero/
kid3rc
pavucontrol.ini
QtProject.conf

